/* ===== FOOTER ===== */

.footer {
  background: #1B4332;

  padding: 30px 15px;

  text-align: center;

  color: #e9f5ec;
}

.footer-container {
  max-width: 900px;
  margin: auto;
}

.footer-brand {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 12px;
  margin-bottom: 10px;
}

.footer-brand svg {
  width: 28px;
  height: 28px;

  color: #52B788;
}

.footer-brand h2 {
  font-size: 26px;
  font-weight: 600;

  letter-spacing: 1px;
}

.footer-description {
  font-size: 17px;
  line-height: 1.7;

  max-width: 700px;
  margin: 10px auto;

  color: #cde5d6;
}

.footer-line {
  border: none;
  border-top: 1px solid rgba(255,255,255,0.2);

  margin: 25px auto;
  width: 80%;
}

.footer-bottom {
  font-size: 14px;
  opacity: 0.8;
}

.footer-logo-img {
  width: 50px;
  height: 50px;

  margin-bottom: 10px;

  border-radius: 50%; /* bikin lingkaran sempurna */
  object-fit: cover;  /* memastikan gambar menyesuaikan kotak */
}

/* ===== CTA SECTION ===== */

.cta {
  background: linear-gradient(
    135deg,
    #2D6A4F,
    #40916C
  );

  padding: 50px;

  border-radius: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 40px;

  color: white;

  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

/* ===== BUTTON ===== */

.btn-primary {
  background: #52B788;

  padding: 14px 34px;

  border-radius: 10px;

  font-size: 16px;
  font-weight: 600;

  color: white;

  border: none;

  transition: all 0.25s ease;

  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.btn-primary:hover {
  background: #40916C;

  transform: translateY(-2px);

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
