/* ===== NAVBAR ===== */

.navbar {
  background: #1B4332;
  padding: 16px 0;
  box-shadow: 0 4px 18px rgba(0,0,0,0.15);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== LOGO ===== */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 20px;
  color: #F1FAEE;
  text-decoration: none;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #52B788;
}

/* ===== MENU ===== */

.menu {
  display: flex;
  gap: 35px;
}

.nav-link {
  position: relative;
  color: white;
  font-weight: 500;
  padding: 6px 0;
  transition: color 0.25s;
}

/* underline animation */

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0%;
  height: 2px;

  background: #52B788;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #D8F3DC;
}

.nav-link.active::after {
  width: 100%;
}

/* ===== AUTH AREA ===== */

.auth {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* ===== REGISTER BUTTON ===== */

.btn-outline {
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 600;

  background: #52B788;
  color: white;

  border: none;

  box-shadow: 0 4px 10px rgba(0,0,0,0.15);

  transition: all 0.25s ease;
}

.btn-outline:hover {
  background: #40916C;
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

/* ===== LOGIN BUTTON ===== */

.btn-outline2 {
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 600;
  color: #F1FAEE;
  transition: all 0.25s;
}

.btn-outline2:hover {
  background: rgba(255,255,255,0.08);
}
