<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <div class="footer-brand">
        <img src="/frontend/assets/icons/icons.png" class="footer-logo-img" />

        <h2>LimbahKu</h2>
      </div>
    </div>

    <p class="footer-description">
      Through <strong>LimbahKu</strong>, we empower individuals to manage and
      sell their waste responsibly. Reducing environmental impact, supporting
      local waste collectors, and paving the way for a cleaner, more sustainable
      future.
    </p>

    <hr class="footer-line" />

    <div class="footer-bottom">
      <p>Copyright © 2026 LimbahKu Website. All Rights Reserved.</p>
    </div>
  </div>

  <script src="https://unpkg.com/lucide@latest"></script>

  <script>
    lucide.createIcons();
  </script>
</footer>
